:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --bg-image-card: url(/img/background_cards_light.jpg);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins';
    user-select: none;
}

body.dark {
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9e9;
    --bg-image-card: url(/img/background_cards_dark.jpg);
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    position: fixed;
    left: 270px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.section.back-section {
    z-index: 1;
}

.section.active {
    z-index: 2;
    opacity: 1;
    animation: slideSection .5s ease;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    min-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 3px;
    width: 5%;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 30px;
    margin: 10px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

h3 span {
    color: var(--skin-color);
}

/* Notification accueil */
.accueil_notif {
    position: fixed;
    display: none;
    color: var(--text-black-900);
    top: 30px;
    overflow: hidden;
    background-color: var(--bg-black-100);
    box-shadow: var(--bg-black-50) 0px 0px 6px 0px;
    border-radius: 10px;
    margin: auto;
    left: 270px;
    right: 0;
    width: 70%;
    opacity: .9;
    z-index: 9;
}

.accueil_notif .content {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.accueil_notif i {
    position: absolute;
    top: 50%;
    color: var(--skin-color);
    padding: 10px;
    background-color: var(--bg-black-100);
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
}

.accueil_notif_text {
    animation: moveaccueil_msg_desktop 13s linear;
    margin: 0;
    color: var(--text-black-900);
    font-size: 20px;
    top: 50%;
}

/* Sidebar */
.aside {
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.aside .logo {
    position: absolute;
    top: 30px;
}

.aside .nav-toggle {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.aside .nav-toggle span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggle.open span {
    background-color: transparent;
}

.aside .nav-toggle span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggle.open span::before {
    transform: rotate(45deg);
    top: 0;
}

.aside .nav-toggle span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav-toggle.open span::after {
    transform: rotate(-45deg);
    top: 0;
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 30px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a:hover {
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .social-icons {
    position: absolute;
    bottom: 20px;
}

.aside .social-icons li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

.aside .social-icons img {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.aside .social-icons li img:hover,
.aside .social-icons li img:active {
    -webkit-box-shadow: 1px 1px 3px var(--bg-black);
    -moz-box-shadow: 1px 1px 3px var(--bg-black);
    box-shadow: 1px 1px 3px var(--bg-black);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.aside em {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    font-style: normal;
}

/* Accueil */
.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h1.hello {
    font-size: 40px;
    letter-spacing: 4px;
    margin: 15px 0;
}

h1.hello span {
    color: var(--skin-color);
}

h3.profession {
    font-size: 24px;
    margin: 15px 0;
    color: var(--text-black-900);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

#quote {
    color: var(--skin-color);
    font-weight: 800;
    font-size: 30px;
    line-height: 0px;
    font-family: 'normal';
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img img {
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--skin-color);
}

/* À propos */
.about .about-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: justify;
}

.about .about-content .about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text p {
    font-size: 16px;
    line-height: 30px;
    margin: 30px 0;
    color: var(--text-black-700);
}

.about .about-content .personal-info {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
}

.about .about-content .personal-info p {
    margin: 20px 0;
    color: var(--text-black-900);
}

.about .about-content .personal-info img {
    width: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.about .about-content .skills {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 20px;
}

.about .about-content .skills p {
    margin: 20px 0;
    color: var(--text-black-900);
}

.about .about-content .skills img {
    width: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.about .about-content .skills img:hover,
.about .about-content .personal-info img:hover,
.realisation .card-side-back .label-techno-item span:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/* Réalisations */
.realisation .card {
    position: relative;
    width: 400px;
    height: 450px;
    flex: 0 0 45%;
    max-width: 45%;
    margin: 10px;
}

.realisation .card-side {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: var(--text-black-700);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 3px 9px 0px;
    transition: all 700ms ease;
    backface-visibility: hidden;
}

.realisation .card-side-front {
    background: var(--bg-black-100);
}

.realisation .card-side-front img {
    width: 200px;
    margin: 10px;
}

.realisation .card-side-front h2 {
    color: var(--text-black-700);
    letter-spacing: 4px;
}

.realisation .card-side-back {
    background-image: var(--bg-image-card);
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateY(180deg);
    display: block;
    padding: 10px 20px;
}

.realisation .card:hover .card-side-front {
    transform: rotateY(-180deg);
}

.realisation .card:hover .card-side-back {
    transform: rotateY(0);
    color: var(--text-black-700);
    text-align: justify;
}

.realisation .card-side-back .card-text {
    margin: 10px;
}

.realisation .card-side-back hr {
    background: var(--text-black-700);
    width: 100%;
    margin: 20px 0;
    height: 1px;
}

.realisation .card-side-back .label-techno-item span {
    position: relative;
    align-items: left;
    font-size: 12px;
    display: inline-block;
    height: 100%;
    border-radius: 10px;
    padding: 1px 24px 1px 10px;
    line-height: 1.25rem;
    color: white;
    background: var(--skin-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.realisation .card-side-back .label-techno-item span:before {
    border-radius: 50%;
    content: '';
    width: 8px;
    height: 8px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    right: 6px;
    background: var(--bg-black-100);
}

.realisation .card-side-back .cards-buttons {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    margin: 0 -20px;
}

/* Services */
.service .service-item {
    margin-bottom: 30px;
    flex: 0 0 50%;
    max-width: 50%;
}

.service .service-item .service-item-inner {
    position: relative;
    min-height: 280px;
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service .service-item .service-item-inner:hover h4 {
    color: var(--skin-color);
}

.service .service-item .service-item-inner #service-refonte-more,
.service .service-item .service-item-inner #service-creation-more,
.service .service-item .service-item-inner #service-maquette-more,
.service .service-item .service-item-inner #service-referencement-more {
    position: absolute;
    cursor: pointer;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--skin-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.service .service-item .service-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}

.service .service-item .service-item-inner .icon .fa {
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.service .service-item .service-item-inner:hover .icon {
    background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa {
    font-size: 25px;
    color: white;
}

.service .service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
}

.service .service-item .service-item-inner #service-creation-text,
.service .service-item .service-item-inner #service-refonte-text,
.service .service-item .service-item-inner #service-maquette-text,
.service .service-item .service-item-inner #service-referencement-text,
.service .service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    text-align: justify;
    line-height: 25px;
}

.service .service-item .service-item-inner #service-refonte-text hr,
.service .service-item .service-item-inner #service-creation-text hr,
.service .service-item .service-item-inner #service-maquette-text hr,
.service .service-item .service-item-inner #service-referencement-text hr {
    width: 100%;
    border: 1px solid var(--bg-black-50);
    margin: 20px 0 0 0;
}

.service .service-item .service-item-inner #service-refonte-text p,
.service .service-item .service-item-inner #service-creation-text p,
.service .service-item .service-item-inner #service-maquette-text p,
.service .service-item .service-item-inner #service-referencement-text p {
    margin: 5px 0;
}

.service .service-item .service-item-inner #service-refonte-text .service-subtitle,
.service .service-item .service-item-inner #service-creation-text .service-subtitle,
.service .service-item .service-item-inner #service-maquette-text .service-subtitle,
.service .service-item .service-item-inner #service-referencement-text .service-subtitle {
    width: 100%;
    margin: 20px 0;
    color: var(--skin-color);
    font-weight: 700;
    font-size: 18px;
}

/* Devis */
.devis .info-tarif {
    position: relative;
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0 0 40px 0;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
}

.devis .design {
    display: flex;
    flex-wrap: wrap;
}

.devis .design .labelitem,
.devis .functionality .functionality-item {
    margin: 10px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
}

.devis .design .labelitem .labelinfo {
    position: relative;
    min-height: 170px;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--bg-black-100);
    border-radius: 10px;
    font-size: 16px;
    color: var(--text-black-900);
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 4px 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.devis .design .labelitem .labelinfo:hover,
.devis .design .labelitem .labelinfo.active,
.devis .functionality .functionality-item.active,
.service .service-item .service-item-inner:hover,
input:focus,
textarea:focus,
.devis .functionality .functionality-item .functionality-item-info:hover {
    box-shadow: var(--skin-color) 0px 0px 4px 0px;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
}

.devis .design .labelitem .labeltitle {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin: 10px 0 20px 0;
    font-weight: 700;
    color: var(--skin-color);
}

.devis .design .labelitem .labeldescription {
    font-size: 14px;
    color: var(--text-black-700);
    font-style: italic;
    opacity: .8;
}

.devis .design .labelitem .price {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--skin-color);
    border-top-right-radius: 10px;
    opacity: 0.8;
    padding: 2px 10px;
    color: white;
    font-size: 12px;
}

.devis .design .labelitem input {
    position: absolute;
    top: 5px;
    left: 5px;
    transform: scale(1.4);
    outline: none;
}

.devis .functionality {
    text-align: center;
}

.devis .functionality h3 {
    font-size: 16px;
    margin: 20px 0;
}

.devis .functionality .functionality-item .functionality-item-info {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background: var(--bg-black-100);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1px 4px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.devis .functionality .functionality-item .functionality-item-info .functionality-title {
    font-weight: 600;
    color: var(--text-black-700);
    font-size: 16px;
}

/* Contact */
.contact .contact-title {
    color: var(--skin-color);
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 10px;
}

.contact .contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.contact .contact-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-content .contact-form {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    display: block;
    background-color: var(--bg-black-100);
    color: var(--text-black-900);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    min-width: auto;
    box-shadow: 0px 0px 15px rgba(182, 182, 182, 0.3);

}

.contact-content .contact-form .loader-form {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 50px;
}

.contact-content .contact-form .message-form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 0 20px 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 14px;
}

.contact-content .contact-form .message-form p {
    max-width: 95%;
    margin: 0 10px;
}

.contact-content .contact-form .message-form i {
    position: absolute;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
}

input[type=text],
textarea,
input[type=email] {
    width: 100%;
    padding: 12px;
    background-color: var(--bg-black-900);
    color: var(--text-black-700);
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    font-size: 12px;
    font-weight: 500;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
    outline-color: var(--skin-color);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

label {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.action-form {
    position: relative;
    width: 100%;
    text-align: center;
}

.action-form input {
    margin: 5px;
}

input[type=submit] {
    color: var(--skin-color);
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid var(--skin-color);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=reset] {
    color: red;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type=submit]:hover {
    background-color: var(--skin-color);
    color: white;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

input[type=reset]:hover {
    background-color: red;
    color: white;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/* Animation */
@keyframes moveaccueil_msg_desktop {
    0% {
        transform: translate(150%)
    }

    100% {
        transform: translate(-120%)
    }
}

@keyframes moveaccueil_msg_mobile {
    0% {
        transform: translate(80%)
    }

    100% {
        transform: translate(-120%)
    }
}

@keyframes slideSection {
    0% {
        transform: translate(100%)
    }

    100% {
        transform: translate(0%)
    }
}

/* Responsive */
@media (max-width: 1200px) {
    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0;
    }

    .aside .nav-toggle {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggle.open {
        left: 270px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    .accueil_notif {
        left: 0;
    }

    .accueil_notif.open {
        left: 270px;
        width: 60%;
    }

}

@media (max-width: 990px) {
    .home .home-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img {
        display: none;
    }

    .about .about-content .personal-info {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .service .service-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .realisation .card {
        flex: 0 0 100%;
        max-width: 100%;
    }

}

@media (max-width: 750px) {
    .accueil_notif .content {
        padding: 2px;
    }

    .accueil_notif_text {
        font-size: 14px;
        animation: moveaccueil_msg_mobile 13s linear;
    }

    h1.hello {
        font-size: 30px;
        letter-spacing: 2px;
        margin: 10px 0;
    }

    h3.profession {
        font-size: 18px;
        margin: 15px 0;
    }

    .home-info p {
        margin-bottom: 40px;
        font-size: 16px;
    }

    #quote {
        font-size: 20px;
        font-weight: 600;
    }

    .about .about-content .personal-info img {
        width: 80px;
    }

    .about .about-content .skills img {
        width: 80px;
    }
}


/* Spécial */
.hidden {
    display: none !important;
}

.disable {
    pointer-events: none !important;
    opacity: 0.5 !important;
}